@model Recenzija

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3><em>Ocjena :: @Model.Ocjena</em></h3>
        <h3><em>Opis:: @Model.Opis</em></h3>
        <h3><em>Ponuda:: @Model.Karta.PosjecujeLokacije.Linije.Polazak.Naziv - @Model.Karta.PosjecujeLokacije.Grad.Naziv</em></h3>
    </div>
</div>
