@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:sandybrown;font-size:45px">
        <b>eStanica web app</b>
        </div>
    <pre>
    Postovani 
Zelimo vam dobrodoslicu na nas sistem autobuske stanice,
 sistem za online rezervaciju karata. 
Da bi aktivirali svoj korisnicki nalog, molimo vas kliknite
<a href="@ViewBag.ConfirmationLink">ovdje</a>
</pre>
</body>
</html>